.side-pannel{
  width: 72px;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 55px;
  position: fixed;
  bottom: 0;
  background-color: white;
  border-right: 1px solid lightgray;
  z-index: 200;
}
.side-link{
  width: 74px;
  height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.side-link div{
  font-size: 10px;
  text-align: center;
  width: 72px;
  margin-top: 60px;
  position: absolute;
}

.side-pannel img{
  height: 60px;
  height: 24px;
}

